{% extends "base.html" %}

{% block content %}
    <script src="https://bestiejs.github.io/platform.js/vendor/platform-1.3.5.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <h1>IPlogger</h1>
    <p onclick="navigator.clipboard.writeText('{{ link }}')" style="
        cursor: pointer;
        padding: 5px;
        border: 1px solid #dadada;
    ">{{ link }}</p>
    <hr>
    <table border="1" width="80%">
        <tr class="head">
            <td>IP</td>
            <td>Data</td>
            <td>User</td>
        </tr>
        {% for el in ipList %}
        
            <tr class="ips">
                <td>{{ el.ip }}</td>
                <td>
                    {% if el.data %}
                        <a href="https://www.google.ru/maps/place/@{{ el.data.latitude }},{{ el.data.longitude }},11z" target="_blank">
                            {{ el.data.aso }} {{ el.data.country }} {{ el.data.city }}
                        </a>
                    {% else %} 
                        <span style="color: red;">
                            {{ el.error }}
                        </span>
                    {% endif %}
                </td>
                <td>
                    <!--<script>
                        var info = platform.parse("{{ el.user_agents }}");
                        console.log(info);
                        document.write('<i class="bx bx-firefox"></i>');
                    </script>-->
                    {{ el.user_agents }}
                </td>
            </tr>
        {% endfor %}
    </table>
    <hr>
{% endblock content %}